<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block titulo %} Inicio{% endblock %} - Evaluacion Austral
        </title>
    </head>
    <body>
       <div id="header">
           {% block cabecera %}
               <h1>Cabecera de la plantilla</h1>
           {% endblock %}
       </div
       <section id="content">
           {% block contenido %}
               <h1>contenido por defecto</h1>
           {% endblock %}
       </section>
       <footer>
           pie de pagina
       </footer>
    </body>
    
</html>
